body {
    background: linear-gradient(
        90deg, rgba(52, 112,193, 0.9934348739495799) 0%,
        rgba(8, 8, 8, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    background: white;
    width: 300px;
    height: 300px;
    transform: rotate(25deg);
    transition: all 1s ease-in-out;
}
.box:hover {
    transform: skew(25deg);
}