body {
    background: linear-gradient(
        90deg, rgba(52, 112,193, 0.9934348739495799) 0%,
        rgba(8, 8, 8, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    background: white;
    width: 100px;
    height: 100px;
    transition-property: background, width, height;
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
    
}
.box:hover{
    background: peru ;
    width: 300px;
    height: 300px;
}