body {
    background: rgba(52,93,193);
}
.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.tem{
    background-color: whitesmoke;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}