@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: peru;
    border-bottom: peru 1px solid;
}

.btn {
    background:powderblue ;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}